<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PLLUG Presentation System 2</Name>
    <Version>1.0.0</Version>
    <Title>PPS2 Installer</Title>
    <Publisher>Your vendor</Publisher>
    <StartMenuDir>PPS2</StartMenuDir>
    <TargetDir>@ApplicationsDir@/PLLUG/PPS2</TargetDir>
</Installer>